.buttonWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #4990e2;
  font-size: 33px;
  cursor: pointer;
  color: white;
  letter-spacing: 2px;
  width: 150px;
  height: 60px;
}